hostname {{ device.name }}

{% for server in name_servers %}
ip name-server {{ server }}
{%- endfor %}

{% for interface in device.interfaces %}
{%- if not interface.mgmt_only %}
interface {{ interface.name }}
 {%- if interface.enabled %}
  no shutdown
 {%- else %}
  shutdown
 {%- endif %}
{%- endif %}
{%- endfor %}

snmp-server community {{ snmp_ro_community }} RO

{% for server in syslog_servers %}
logging host {{ server }} transport udp port 1514
{%- endfor %}

{% for server in ntp_servers %}
ntp server {{ server }}
{%- endfor %}