hostname {{ device.name }}

{% for server in name_servers %}
ip name-server {{ server }}
{%- endfor %}

{% for interface in device.interfaces.all() %}
{%- if not interface.mgmt_only %}
interface {{ interface.name }}
 {%- if device.platform.name | lower == 'eos' %}
  no switchport
 {%- endif %}
 {%- if interface.enabled %}
  no shutdown
 {%- else %}
  shutdown
 {%- endif %}
 {%- for ip_mask in interface.ip_addresses.all() %}
  ip address {{ ip_mask }}
 {%- endfor %}
{%- endif %}
{%- endfor %}

snmp-server community {{ snmp_ro_community }} RO

{% for server in syslog_servers %}
logging host {{ server }} transport udp port 1514
{%- endfor %}

{% for server in ntp_servers %}
ntp server {{ server }}
{%- endfor %}

{%- if device.platform.name | lower == 'eos' %}
management api gnmi
  transport grpc GRPC
    port 6030
    no shut
management api netconf
  transport ssh NETCONF 
    port 830
    no shut
management api http-commands
  no shut
{%- endif %}