vrf definition {{ vrf.name }}
  rd {{ vrf.rd }}
router bgp {{ bgp_as }}
 bgp log-neighbor-changes
 bgp router-id {{ bgp.bgp_router_id }}
 !
 {%- for neighbor in neighbors %}
 {%- if neighbor.remote_as == bgp_as %}
 {# eBGP #}
 address-family ipv4 vrf {{ neighbor.vrf }}
  neighbor {{ neighbor.neighbor_ipv4 }} remote-as {{ neighbor.remote_as }}
  neighbor {{ neighbor.neighbor_ipv4 }} update-source {{ neighbor.source }}
  neighbor {{ neighbor.neighbor_ipv4 }} timers 10 30 30
  neighbor {{ neighbor.neighbor_ipv4 }} activate
  neighbor {{ neighbor.neighbor_ipv4 }} default-originate
  neighbor {{ neighbor.neighbor_ipv4 }} soft-reconfiguration inbound
  !
  {%- else %}
  {# iBGP #}
 address-family ipv4 vrf {{ neighbor.vrf }}
  neighbor {{ neighbor.neighbor_ipv4 }} remote-as {{ neighbor.remote_as }}
  neighbor {{ neighbor.neighbor_ipv4 }} next-hop-self
  neighbor {{ neighbor.neighbor_ipv4 }} activate
  neighbor {{ neighbor.neighbor_ipv4 }} soft-reconfiguration inbound
  {%- endif %}
  {%- endfor %}
 exit-address-family


