```


crypto ikev2 fragmentation mtu 1200
!
crypto ikev2 proposal IKEV2_PROPOSAL_AWS
 encryption aes-gcm-256
 prf sha512
 group 20
!
interface {{ interface.name }}
 desc TO_AWS
 vrf forwarding clab-mgmt
 tunnel vrf clab-mgmt
 tunnel mode ipsec ipv4
 tunnel protection ipsec profile IPSEC_PROFILE_AWS
 ip mtu 1400
 ip tcp adjust-mss 1360
 no shutdown
!
ip route vrf clab-mgmt 10.20.1.0 255.255.255.0 tun0
ip route vrf clab-mgmt 10.20.2.0 255.255.255.0 tun0
```