int lo10
  vrf forwarding clab-mgmt
  ip address {{ aws_vpn.onprem_outside_ip }} 255.255.255.255
!  
crypto ikev2 keyring AWS_KEYS
  peer AWS_TUNNEL_1
   address {{ aws_vpn.aws_tunnel_1_public_ip }}
   pre-shared-key local {{ aws_vpn.pre_shared_key }}
   pre-shared-key remote {{ aws_vpn.pre_shared_key }}
  peer AWS_TUNNEL_2
   address {{ aws_vpn.aws_tunnel_2_public_ip }}
   pre-shared-key local {{ aws_vpn.pre_shared_key }}
   pre-shared-key remote {{ aws_vpn.pre_shared_key }}
!
crypto ikev2 fragmentation mtu 1200
!
crypto ikev2 proposal IKEV2_PROPOSAL_AWS
 encryption aes-gcm-256
 prf sha512
 group 20
!
crypto ikev2 policy IKEV2_POLICY_AWS
 match fvrf clab-mgmt
 proposal IKEV2_PROPOSAL_AWS
 match address local {{ aws_vpn.onprem_outside_ip }}
!
crypto ikev2 profile IKEV2_PROFILE_AWS
 match fvrf clab-mgmt
 match address local interface loop 10
 match identity remote address {{ aws_vpn.aws_tunnel_1_public_ip }}
 !match identity remote address {{ aws_vpn.aws_tunnel_2_public_ip }}
 identity local address {{ aws_vpn.onprem_outside_ip }}
 authentication local pre-share
 authentication remote pre-share
 keyring local AWS_KEYS
 dpd 10 2 on-demand
 !lifetime 86400
!
crypto ipsec transform-set TS_AWS esp-gcm 256
 mode tunnel
!
crypto ipsec profile IPSEC_PROFILE_AWS
 set transform-set TS_AWS
 set ikev2-profile IKEV2_PROFILE_AWS
 set pfs group20
!
interface Tunnel0
 desc TO_AWS
 vrf forwarding clab-mgmt
 tunnel vrf clab-mgmt
 ip address {{ aws_vpn.tun_inside_ipv4_client }} 255.255.255.252
 tunnel source loop 10
 tunnel destination {{ aws_vpn.aws_tunnel_1_public_ip }}
 tunnel mode ipsec ipv4
 tunnel protection ipsec profile IPSEC_PROFILE_AWS
 ip mtu 1400
 ip tcp adjust-mss 1360
 no shutdown
!
!
!
vrf definition {{ aws_bgp.vrf.name }}
  rd {{ aws_bgp.vrf.rd }}
router bgp {{ aws_bgp.bgp_as }}
 bgp log-neighbor-changes
 bgp router-id {{ aws_bgp.router_id }}
 !
 {%- for neighbor in aws_bgp.neighbors %}
 {%- if neighbor.remote_as != aws_bgp.bgp_as %}
 {# eBGP #}
 address-family ipv4 vrf {{ neighbor.vrf }}
  network 12.12.12.0 mask 255.255.255.0
  network 1.1.1.0 mask 255.255.255.0
  neighbor {{ neighbor.neighbor_ipv4 }} remote-as {{ neighbor.remote_as }}
  neighbor {{ neighbor.neighbor_ipv4 }} update-source {{ neighbor.source }}
  neighbor {{ neighbor.neighbor_ipv4 }} timers 10 30 30
  neighbor {{ neighbor.neighbor_ipv4 }} activate
  neighbor {{ neighbor.neighbor_ipv4 }} default-originate
  neighbor {{ neighbor.neighbor_ipv4 }} soft-reconfiguration inbound
  !
  {%- else %}
  {# iBGP #}
 address-family ipv4 vrf {{ neighbor.vrf }}
  neighbor {{ neighbor.neighbor_ipv4 }} remote-as {{ neighbor.remote_as }}
  neighbor {{ neighbor.neighbor_ipv4 }} next-hop-self
  neighbor {{ neighbor.neighbor_ipv4 }} activate
  neighbor {{ neighbor.neighbor_ipv4 }} soft-reconfiguration inbound
  {%- endif %}
  {%- endfor %}
 exit-address-family
